{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block page_content %}

{% block title %}

<h1 class="h3 mb-0 text-gray-800">Πίνακας Βλαβών</h1>

{% if not user.is_simple_user %}
<button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-download fa-sm text-white-50"></i> Εξαγωγή
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenu">
    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exportModal"><i class="far fa-file-pdf"></i> PDF</button>
    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exportModal_excel"><i class="far fa-file-excel"></i> Excel</button>
    {% comment %} <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exportModal_word"><i class="far fa-file-word"></i> Word</button> {% endcomment %}
</div>
{% endif %}


{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-gray-700" id="exportModalLabel"> Εξαγωγή Κατάστασης
                    Λειτουργικότητας </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="get" action="{% url 'failures_print' %}">
                <div class="modal-body">
                    <div class="form-group" id="div_id_date_from">
                        <label for="id_date_from" class=" requiredField">
                            Από<span class="asteriskField">*</span>
                        </label> 
                        <div class="input-group" id="div_id_date_from" data-target-input="nearest">
                            <input type="text" name="date_from" class="datetimepicker form-control datetimepicker-input" id="id_date_from" data-toggle="datetimepicker" data-target="#id_date_from">
                            <div class="input-group-append" data-target="#id_date_from" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="div_id_date_to">
                        <label for="id_date_to" class=" requiredField">
                            Έως<span class="asteriskField">*</span>
                        </label> 
                        <div class="input-group" id="div_id_date_to" data-target-input="nearest">
                            <input type="text" name="date_to" class="datetimepicker form-control datetimepicker-input" id="id_date_to" data-toggle="datetimepicker" data-target="#id_date_to">
                            <div class="input-group-append" data-target="#id_date_to" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        function deferDateTimePicker() {
                            if (window.jQuery && $.fn.datetimepicker) {
                                $('#id_date_from').datetimepicker({"format": "DD/MM/YYYY", "icons": {"time": "fa fa-clock-o"}, "useCurrent": true, "locale": "el"});
                                $('#id_date_to').datetimepicker({"format": "DD/MM/YYYY", "icons": {"time": "fa fa-clock-o"}, "useCurrent": true, "locale": "el"});
                            } else {
                                setTimeout(function() { deferDateTimePicker() }, 50);
                            }
                        }

                        deferDateTimePicker();
                    </script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Πίσω</button>
                    <button class="btn btn-primary" type='submit'> Εκτύπωση </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exportModal_excel" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-gray-700" id="exportModalLabel"> Εξαγωγή Κατάστασης
                    Λειτουργικότητας </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="get" action="{% url 'failures_print_excel' %}">
                <div class="modal-body">
                    <div class="form-group" id="div_id_date_from">
                        <label for="id_date_from_excel" class=" requiredField">
                            Από<span class="asteriskField">*</span>
                        </label> 
                        <div class="input-group" id="div_id_date_from_excel" data-target-input="nearest">
                            <input type="text" name="date_from_excel" class="datetimepicker form-control datetimepicker-input" id="id_date_from_excel" data-toggle="datetimepicker" data-target="#id_date_from_excel">
                            <div class="input-group-append" data-target="#id_date_from_excel" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="div_id_date_to">
                        <label for="id_date_to_excel" class=" requiredField">
                            Έως<span class="asteriskField">*</span>
                        </label> 
                        <div class="input-group" id="div_id_date_to_excel" data-target-input="nearest">
                            <input type="text" name="date_to_excel" class="datetimepicker form-control datetimepicker-input" id="id_date_to_excel" data-toggle="datetimepicker" data-target="#id_date_to_excel">
                            <div class="input-group-append" data-target="#id_date_to_excel" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        function deferDateTimePicker_excel() {
                            if (window.jQuery && $.fn.datetimepicker) {
                                $('#id_date_from_excel').datetimepicker({"format": "DD/MM/YYYY", "icons": {"time": "fa fa-clock-o"}, "useCurrent": true, "locale": "el"});
                                $('#id_date_to_excel').datetimepicker({"format": "DD/MM/YYYY", "icons": {"time": "fa fa-clock-o"}, "useCurrent": true, "locale": "el"});
                            } else {
                                setTimeout(function() { deferDateTimePicker_excel() }, 50);
                            }
                        }

                        deferDateTimePicker_excel();
                    </script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Πίσω</button>
                    <button class="btn btn-primary" type='submit'> Εκτύπωση </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Filters  -->
<div class="card mb-4 uppercase-input">
    <a href="#collapseFilters" class="d-block card-header py-3" data-toggle="collapse" role="button"
        aria-expanded="false" aria-controls="collapseFilters">
        <h6 class="m-0 font-weight-bold text-gray-700"> Κριτήρια αναζήτησης </h6>
    </a>
    <div class="collapse" id="collapseFilters">
        <div class="card-body">
            <form method="GET">
                <div class="form-group row">
                    <div class="form-inline col-6">
                        <label class="field-label"
                            for="{{ filters.form.description__icontains.name }}">{{ filters.form.description__icontains.label }}:</label>
                        <input type="text" class="form-control" name="description__icontains" id="id_description__icontains">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label class="field-label"
                            for="{{ filters.form.unit.name }}">{{ filters.form.unit.label }}:</label>
                        <select name="unit" id="id_unit" class="selectpicker" multiple data-live-search="true"
                            data-width="100%" data-actions-box="true" data-actions-box="true"
                            title=" Επίλεξε {{ filters.form.unit.label }} ">
                            {% for choice in filters.form.unit %}
                            {{ choice }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="field-label"
                            for="{{ filters.form.means.name }}">{{ filters.form.means.label }}:</label>
                        <select name="means" id="id_means" class="selectpicker" multiple data-live-search="true"
                            data-width="100%" data-actions-box="true" data-actions-box="true"
                            title=" Επίλεξε {{ filters.form.means.label }} ">
                            {% for choice in filters.form.means %}
                            {{ choice }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="field-label"
                            for="{{ filters.form.failure_type.name }}">{{ filters.form.failure_type.label }}:</label>
                        <select name="category" id="id_category" class="selectpicker" multiple data-live-search="true"
                            data-width="100%" data-actions-box="true" data-actions-box="true"
                            title=" Επίλεξε  {{ filters.form.failure_type.label }} ">
                            {% for choice in filters.form.failure_type %}
                            {{ choice }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="field-label"
                            for="{{ filters.form.status.name }}">{{ filters.form.status.label }}:</label>
                        <select name="status" id="id_status" class="selectpicker" multiple data-live-search="true"
                            data-width="100%" data-actions-box="true" title=" Επίλεξε {{ filters.form.status.label }}">
                            {% for choice in filters.form.status %}
                            {{ choice }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-10">
                        <label class="field-label">{{ filters.form.date_end.label }} :</label>
                        <div class="row">
                            <div class="col-4 mb-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Από </span>
                                    </div>
                                    <input type="date" name="date_end_after" id="id_date_start_0"
                                        class="form-control form-control-section" d>
                                </div>
                            </div>
                            <div class="col-4 mb-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Έως </span>
                                    </div>
                                    <input type="date" name="date_end_before" id="id_date_start_1"
                                         class="form-control form-control-section">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-primary btn-user btn-block" id='submitBtn' type='submit'> Αναζήτηση </button>
            </form>
        </div>
    </div>
</div>

<!-- Table for each means -->
{% for name, table in failures_tables.items %}
<div class="card shadow mb-4">
    {% if table.rows %}
    <a href="#failures_table{{ means_id|get_item:name }}" class="d-block card-header py-3 collapsed" data-toggle="collapse"
        role="button" aria-expanded="false" aria-controls="failures_table{{ means_id|get_item:name }}">
        <h6 class="m-0 font-weight-bold text-primary">{{ name }}</h6>
    </a>
    <div class="collapse" id="failures_table{{ means_id|get_item:name }}">
        <div class="card-body">
            <div class="table-responsive">
                {% render_table table %}
            </div>
        </div>
    </div>

    {% else %}
    <a href="#failures_table{{ means_id|get_item:name }}" class="d-block card-header py-3 collapsed"
        data-toggle="collapse" role="button" aria-expanded="false"
        aria-controls="#failures_table{{ means_id|get_item:name }}">
        <h6 class="m-0 font-weight-bold text-primary">{{ name }}</h6>
    </a>
    <div class="collapse" id="#failures_table{{ means_id|get_item:name }}">
        <div class="card-body">
            <div class="table-responsive">
                {% render_table table %}
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endfor %}


{% endblock %}


{% endblock %}