{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% load auth_extras %}
{% load verbose_names %}

{% block page_content %}

{% block title %}
<h1 class="h3 mb-0 text-gray-800"> Επισκόπηση Βλάβης </h1>
<a href="{% url "failures_all" %}" class="btn btn-default btn-bg">
  <span class="icon text-lightgray-5">
  <i class="fas fa-chevron-left"></i> Πίνακας Βλαβών </span>  
</a>

{% endblock title %}

{% block content %}
 

<!-- Content Row -->
<div class="row">


  <!-- New Breakdow Form -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4"> 
      <div class="card-header py-2 d-flex align-items-center">
        {% if user.is_simple_user or user.is_ddb %}
          {% if failure.status == "NE" %}
          <h6 class="mr-auto p-2 m-0 font-weight-bold text-primary"> Στοιχεία Βλάβης {{failure.number}} - ΕΚΚΡΕΜΗΣ</h6>
          {% else %}
          <h6 class="mr-auto p-2 m-0 font-weight-bold text-primary"> Στοιχεία Βλάβης {{failure.number}} - {{failure.get_status_display}}</h6>          
          {% endif %}
        {% else %}
          <h6 class="mr-auto p-2 m-0 font-weight-bold text-primary"> Στοιχεία Βλάβης {{failure.number}} - {{failure.get_status_display}}</h6>          
        {% endif %}
        {% if failure|can_edit:user %}
        <a href="{{ request.get_full_path }}edit" class="btn btn-default p-2 mr-1">
          <span class="icon text-lightgray-50">
            <i class="fas fa-edit"></i>
          </span>
          <span class="text"> Επεξεργασία </span>
        </a>
        {% endif %}
        {% if failure|can_delete:user %}
        <button id="delete_failure" type="button" class="btn btn-default p-2 " data-toggle="modal" data-target="#deleteModal">
            <span class="icon text-lightgray-50">
              <i class="fas fa-trash"></i>
            </span>
            <span class="text"> Διαγραφή </span>
        </button>
        {% endif %}
      </div>
      <div class="card-body border-left-primary uppercase-input py-2">
        <table class="table">
          <tbody>
            <tr>
              <th class="border-top-0"> {% get_verbose_field_name failure "means" %} - {% get_verbose_field_name failure "failure_type" %}</th>
              <td class="border-top-0">{% if failure.means %}<span id="means">{{failure.means}}</span> -{% endif %} {{failure.failure_type}}</td>
            </tr>
            <tr>
              <th scope="row"> Επηρεαζόμενος Κόμβος </th>
              <td>{{failure.unit}}</td>
            </tr>

            {% if failure.related_dig_connection %}
            <tr>
              <th>{% get_verbose_field_name failure "related_dig_connection" %}</th>
              <td>{{failure.related_dig_connection}}</td>
            </tr>
            {% elif failure.related_satellite_node %}
            <tr>
              <th>{% get_verbose_field_name failure "related_satellite_node" %}</th>
              <td>{{failure.related_satellite_node}}</td>
            </tr>
            {% comment %} USE THE .exists METHOD FOR THIS MANYTOMANYFIELD !!!! {% endcomment %}
            {% elif failure.related_broadband_transceiver.exists %}
            <tr>
              <th>{% get_verbose_field_name failure "related_broadband_transceiver" %}</th>
              <td>{{failure.related_broadband_transceiver.all|join:", " }}</td>
            </tr>
            {% elif failure.related_harp_correspondent %}
            <tr>
              <th>{% get_verbose_field_name failure "related_harp_correspondent" %}</th>
              <td>{{failure.related_harp_correspondent}}</td>
            </tr>
            {% elif failure.related_hermes_node %}
            <tr>
              <th>{% get_verbose_field_name failure "related_hermes_node" %}</th>
              <td>{{failure.related_hermes_node}}</td>
            </tr>
            {% elif failure.related_hermes_connection %}
            <tr>
              <th>{% get_verbose_field_name failure "related_hermes_connection" %}</th>
              <td>{{failure.related_hermes_connection}}</td>
            </tr>
            {% elif failure.related_pyrseia_server %}
            <tr>
              <th>{% get_verbose_field_name failure "related_pyrseia_server" %}</th>
              <td>{{failure.related_pyrseia_server}}</td>
            </tr>
            {% endif %}
            {% if failure.date_occurred %}
            <tr>
              <th>{% get_verbose_field_name failure "date_occurred" %}</th>
              <td>{{failure.date_occurred}}</td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row"> Περιγραφή </th>
              <td>{{failure.description}}</td>
            </tr>
            {% if failure.submitter_name %}
            <tr>
              <th scope="row"> Καταχωρητής </th>
              <td>{{failure.get_submitter_rank_display }} {{failure.submitter_name}}</td>
            </tr>
            {% endif %}

            {% if failure.attached_file %}
            <tr>
              <th scope="row"> Επισυναπτόμενo Αρχείo </th>
              <td>
                <a target="_blank" rel="noopener noreferrer" href="/user_files/{{failure.attached_file}}">{{failure.attached_file}}</a>
              </td>
            </tr>
            {% endif %}
            {% if failure.secondary_phone %}
            <tr>
              <th>Τηλέφωνα Επικοινωνίας</th>
              <td>{{failure.primary_phone}}  -  {{failure.secondary_phone}}</td>
            </tr>
            {% else %}
            <tr>
              <th>Τηλέφωνο Επικοινωνίας</th>
              <td>{{failure.primary_phone}}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      {% if failure.status != 'CL' %}
        {% if user.is_admin or user.is_manager %}
          <div class="card-header py-2 d-flex align-items-center flex-row-reverse">
            {% if failure.assigned_dispatcher %}
              <button type="button" class="btn btn-default p-2 " id="select_dispatcher" data-toggle="modal" data-target="#assignModal">
                  <span class="icon text-lightgray-50">
                    <i class="fas fa-user-edit"></i>
                  </span>
                  <span class="text"> Αλλαγή </span>
              </button>
              <form method='POST' action="{% url 'failure_single' failure.id %}dispatcher" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-default p-2 " id="remove_dispatcher">
                    <span class="icon text-lightgray-50">
                      <i class="fas fa-user-minus"></i>
                    </span>
                    <span class="text"> Αφαίρεση </span>
                </button>
              </form>
            {% else %}
              <button type="button" class="btn btn-default p-2 " id="select_dispatcher" data-toggle="modal" data-target="#assignModal">
                  <span class="icon text-lightgray-50">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  <span class="text"> Ανάθεση </span>
              </button>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
      <div class="card-body uppercase-input py-2" style="border-right: 0.25rem solid var(--greenblue) !important;">
        <table class="table">
          <tbody>
            <tr>
              <th class="border-top-0">{% get_verbose_field_name failure "date_start" %}</th>
              <td class="border-top-0">{{failure.date_start}}</td>
            </tr>                    
            {% if failure.status == 'CL' %}
            <tr>
              <th>{% get_verbose_field_name failure "date_end" %}</th>
              <td>{{failure.date_end}}</td>
            </tr>
            {% else %}
            <tr>
              <th>{% get_verbose_field_name failure "date_last_modified" %}</th>
              <td>{{failure.date_last_modified}}</td>
            </tr>
            {% endif %}
            <tr>
              <th>{% get_verbose_field_name failure "assigned_dispatcher" %}</th>
              {% if failure.assigned_dispatcher %}
              <td>{{failure.assigned_dispatcher}}</td>
              {% else %}
                <td><sub>---</sub></td>   
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>  
    </div>  
  </div>

</div>

{% comment %} {% if not request.user|in_group:"users"  or failure.status == "CL" and failure.solution != "" %} {% endcomment %}
{% if failure|can_complete:user  or failure.status == "CL" and failure.solution != "" %}
<div class="row">
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-2 d-flex align-items-center">
        <h6 class="mr-auto p-2 m-0 font-weight-bold text-primary">Οδηγίες προς Αποκατάσταση</h6>
      </div>
      <div class="card-body border-left-primary uppercase-input">
          <form method='POST' action="{% url 'failure_single' failure.id %}complete" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group uppercase-input">
            <textarea {% if failure.status == "CL" %}readonly{% endif %} style="resize: none;" id="failure_solution" class="form-control form-control-section" name="failure_solution" cols="40" rows="4"
              placeholder="Π.Χ. ΜΕ ΤΗΝ ΕΠΑΝΕΚΚΙΝΗΣΗ ΤΟΥ ΣΥΣΤΗΜΑΤΟΣ Η ΒΛΑΒΗ ΕΠΙΔΙΟΡΘΩΘΗΚΕ">{{failure.solution}}</textarea>
          </div>
          {% if failure|can_complete:user and failure.status != "CL" %}
          <button class="btn btn-primary btn-user btn-block" id='complete_failure_button' type='submit'> Ολοκλήρωση </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Διαγραφή Βλάβης</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Είστε σίγουρος ότι θέλετε να διαγράψετε τη βλάβη No.{{failure.number}};</p>
        <p>Η διαγραφή βλάβης είναι μια ενέργεια που δεν μπορεί να αναιρεθεί.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ακύρωση</button>
        <form method='POST' action="{{ request.get_full_path }}delete" enctype="multipart/form-data">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Ολοκλήρωση Διαγραφής</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- assign modal -->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ανάθεση Βλάβης</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Επιλογή αρμόδιου διαικεραιωτή για τη βλάβη No.{{failure.number}}:</p>
        <form method='POST' action="{% url 'failure_single' failure.id %}dispatcher" enctype="multipart/form-data">
          {% csrf_token %}
          <p id="searching_message">Αναζήτηση διαικεραιωτών...</p>
          <div id="show_dispatcher_form_select">
          <select required style="width: 100%;" data-width="100%" id="id_dispatcher_form_select" name="dispatcher_form_select" class="form-select" aria-label="dispatcherSelectionDropdown">
            <option value="" hidden disabled selected value style="color: #999 !important;">Nothing selected</option>
          </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ακύρωση</button>
        <button type="submit" class="btn btn-primary">Ολοκλήρωση Ανάθεσης</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- complete without solution modal -->
<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ολοκλήρωση Βλάβης</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Είστε σίγουρος ότι θέλετε να ολοκληρώσετε τη βλάβη No.{{failure.number}} χωρίς οδηγίες προς αποκατάσταση;</p>
        <small class="text-muted">(Η επιλογή σας δεν είναι δεσμευτική)</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ακύρωση</button>
          <form method='POST' action="{% url 'failure_single' failure.id %}complete" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-default">Ολοκλήρωση</button>
          </form>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="focus_on_solution()">Προσθήκη Οδηγιών</button>
        </form>
      </div>
    </div>
  </div>
</div>

  {% endblock %}


  {% endblock %}
