{% extends 'base.html' %}
{% load static %}

{% load auth_extras %}
{% load dict_extras %}
{% load progress_bar_extras %}

{% load render_table from django_tables2 %}

{% block page_content %}

  {% block title %}
    <h1 class="h3 mb-0 text-gray-800"> Πίνακας Διεκπεραιωμένων Βλαβών </h1>
  {% endblock %}

  {% comment %} <script src="{% static 'dides_helpdesk/vendor/Chartjs/Chart.min.js' %}"></script> {% endcomment %}

  {% block content %}
    {# Block Non-Dev Users #}
    {% if not request.user|in_group:"devs" %}
      {% block selectchart %}

      {% comment %}
        This Function is used to concatenate the unit and mean selected in one string
        And also change forward slash to dash, since it causes an error when redirecting
      {% endcomment %}
        <script>
          function reDirect(form){
            var tmpString = document.getElementById('unitDropDown-id').value + "+" + document.getElementById('meansDropDown-id').value;
            tmpString = tmpString.replace("/", "-");
            form.action = tmpString;
          }
        </script>

        {% comment %} 
          This div is used to group the two dropdown lists and the submit button aligned
        {% endcomment %}
        <div class="form-group row" style="position: relative; margin-left: 8%"> 
        {% comment %} Select Unit {% endcomment %}
          <div class="sameRow">
            <label class="field-label"
              for="Μονάδα">Μονάδα:
            </label>
             <select name="unitDropDown" id="unitDropDown-id" class="selectpicker" data-live-search="true">
              <option selected value="{{selected_unit}}">{{selected_unit}}</option>
                {%for unit in units %}
                  <option value="{{ unit }}">{{ unit }}</option>
                {% endfor %}
            </select>
            <span class="secondBox" style= "margin-right: 50px;"> </span>
          </div>

          {% comment %} Select Means {% endcomment %}
          <div class="sameRow">
            <label class="field-label"
              for="Επικοινωνιακό Σύστημα">Επικοινωνιακό Σύστημα:
            </label>

            <select name="meansDropDown" id="meansDropDown-id" class="selectpicker" data-live-search="true">
              <option selected value="{{selected_mean}}">{{selected_mean}}</option>
              {%for mean in means %}
                <option value="{{ mean }}">{{ mean }}</option>
              {% endfor %}
            </select>
            <span class="secondBox" style= "margin-right: 50px;"> </span>  
          </div>

          <div  class="sameRow">
          {% comment %} 
            When pressing submit reDirect function is called and unit+mean selected return as a string value.
          {% endcomment %}
            <form id="submitString-id" name="submitString" method="POST" action=" " onsubmit="reDirect(this);"> {% csrf_token %}        
              <input id="submitButton-id" type="submit" value="Υποβολή" onclick="submitString.submit()" class="button rounded-lg border border-light" style="display: inline-block; background-color: rgba(255,255,255,0.5); ">
            </form>
          </div>
        </div>

        {% comment %} 
          We load Chart.js library localy
        {% endcomment %}
        <script src="{% static 'dides_helpdesk/vendor/Chartjs/Chart.min.js' %}"></script>

        {% comment %} <div class="chart-container" style="position: relative; height:40vh; width:80vw"> {% endcomment %}
        <div class="chart-container" style="position: relative; width: 80vw;">
          <canvas id="dashboard"></canvas>
        </div>

        {% comment %} 
          This if statemnt is used to determine whether there is none, one, two or more
           resolved failure types for a certain mean of communication
        {% endcomment %}
        {% if prc_first_value == 100 %}
          {% if first_value == 1 %} {% comment %} If there is one failure resolved {% endcomment %}
            {% if selected_unit == "ΟΛΕΣ" %}  {% comment %} If there isn't a specific military unit selected{% endcomment %}
              <div style="text-align: center; top: 50%;">
                Υπάρχει <b>1</b> διεκπεραιωμένη βλάβη στο 
                σύστημα: <b> {{first_mean}}</b>,
                τύπου: <b> {{first_type}} </b>
              </div>
            {% else %} {% comment %} If a specific military unit is selected{% endcomment %}
              <div style="text-align: center; top: 50%;">
                Υπάρχει <b>1</b> διεκπεραιωμένη βλάβη στο 
                σύστημα: <b> {{first_mean}}</b>,
                τύπου: <b> {{first_type}} </b>
                για την μονάδα: <b> {{selected_unit}} </b>
              </div>
            {% endif %}

          {% else %}  {% comment %} If there are more than one failures resolved {% endcomment %}
            {% if selected_unit == "ΟΛΕΣ" %} {% comment %} If there isn't a specific military unit selected{% endcomment %}
              <div style="text-align: center; top: 50%;"> 
                Υπάρχουν <b>{{ first_value }}</b> διεκπεραιωμένες βλάβες 
                στο σύστημα: <b> {{first_mean}} </b>
                τύπου: <b> {{first_type}} </b>
              </div>
            {% else %} {% comment %} If a specific military unit is selected{% endcomment %}
              <div style="text-align: center; top: 50%;"> 
                Υπάρχουν <b>{{ first_value }}</b> διεκπεραιωμένες βλάβες 
                στο σύστημα: <b> {{first_mean}} </b>
                τύπου: <b> {{first_type}} </b>
                για την Μονάδα: <b> {{selected_unit}} <b>
              </div>
            {% endif %}
          {% endif %}

        {% elif data %} {% comment %} If there are more than one failures resolved for multiple means 
                          Then the chart can be displayed
                        {% endcomment %}
          <script>
            data0 = {{ data | safe }}
            data_array = {{ data_prc|safe }};
            label_array = {{ labels|safe }};
            {% comment %} These variables are used to calculate the max value of the chart's y-axis {% endcomment %}
            x = Math.round(Math.max(...data_array));
            quotient = Math.floor(x / 10);
            max_size = (quotient * 10) + 10 ;
            if (max_size >= 100){
              max_size = 100;
            }
            
            var ctx = document.getElementById('dashboard').getContext('2d');
            var dashboard = new Chart(ctx, {
              type: 'bar',
              data: {
                datasets: [{
                  data: data_array,
                  backgroundColor: {{ color_pallet | safe }},
                  label: label_array,
                  }],
                labels: label_array
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      min: 0,
                      max: max_size,
                      stepSize: 10,
                      callback: function(value) {
                        return value + "%" //After each value of the data array we add % symbol
                      }
                    }
                  }],
                  xAxes: [{
                    barPercentage: 0.2 // Set the distance between two consecutive bars
                  }],
                },
                legend:{ // Display the means names and their value next to chart
                  display: true,
                  position: 'right',
                  labels: {
                    generateLabels: function(chart) {
                      return chart.data.labels.map(function(label, i) {
                        return {
                          text: label + " : " + data0[i] ,
                          fillStyle: chart.data.datasets[0].backgroundColor[i]
                        };
                      });
                    },
                  }
                },
                title: {
                  display: false,
                  text: 'Πίνακας Διεκπεραιωμένων Βλαβών'
                },
                tooltips: { // Aext that will be shown when hovering mouse above the chart bars
                  callbacks: {
                    label: function(ttitem, data) {
                      return ttitem.xLabel + ": " + ttitem.yLabel + "%"
                    }
                  }
                },
              },
            });
          </script>
        {% else %} {% comment %} Case where there is no information to be displayed{% endcomment %}
          <div style="text-align: center; top: 50%;">
            Δεν υπάρχουν διεκπεραιωμένες βλάβες για την 
            μονάδα: <b> {{selected_unit}} </b>
            και το σύστημα: <b> {{selected_mean}} </b>
          </div>
        {%endif%}
      {% endblock %}

    {% else %}
      {# Dispatchers progress #}
      {% if not request.user|in_group:"users" %}
        <div class="col-xl-4 mb-3">
          <div class="card shadow">
            <div class="card-header py-3 ">
              <h6 class="m-0 font-weight-bold text-primary"> Κατάσταση Διεκπεραιωτών ανά Τμήμα </h6>
            </div>
            <div class="card-body">
              {% for name, progress_info in comm_means_progress.items %}
              <a href="{% url 'reports_table'%}?mean={{progress_info|get_item:"id"}}">
                <h4 class="small font-weight-bold">{{name}}<span
                    class="float-right">{{progress_info|get_item:"closed"}}/{{progress_info|get_item:"all"}}</span>
                </h4>
                <div class="progress mb-4">
                  <div class="progress-bar {{ progress_info|get_item:"percentage"|get_bar_color }}" role="progressbar"
                    style="width: {{progress_info|get_item:"percentage"}}%" aria-valuenow="20" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endblock %}
{% endblock %}