{% extends 'base.html' %}

{% load auth_extras %}
{% load dict_extras %}
{% load progress_bar_extras %}

{% load render_table from django_tables2 %}

{% block page_content %}

{% block title %}
<h1 class="h3 mb-0 text-gray-800"> Κέντρο Διαχείρισης Επικοινωνιακών Συστημάτων - "Ζεύξις" </h1>
{% endblock %}

{% block content %}


<h1>Βλάβες</h1>
<div class="row">
    {# New/Open Failures #}
    <div class="col-xl-4 col-lg-4 col-md-auto mb-3">
        <a href="{% url 'failures_all' %}?status=OP&status=NE" style="text-decoration: none;">
            <div class="home_card card border-left-orange shadow h-100 py-3">
                <div class="card-body card-body-small">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 ">
                            <div class="h2 font-weight-bold text-orange text-uppercase mb-1">
                                ΕΚΚΡΕΜΕΙΣ </div>
                            <div class="display-1 mb-0 font-weight-bold text-gray-800">{{open_failures}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-envelope-open-text fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    {# In Progress Failures #}
    <div class="col-xl-4 col-lg-4 col-md-auto mb-3">
        <a href="{% url 'failures_all' %}?status=PR" style="text-decoration: none;">
            <div class="home_card card border-left-primary shadow h-100 py-3">
                <div class="card-body card-body-small">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 ">
                            <div class="h2 font-weight-bold text-primary text-uppercase mb-1">
                                ΣΕ ΕΞΕΛΙΞΗ </div>
                            <div class="display-1 mb-0 font-weight-bold text-gray-800">{{progress_failures}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-envelope-open-text fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    {# Closed Failures #}
    <div class="col-xl-4 col-lg-4 col-md-auto mb-3">
        <a href="{% url 'failures_all' %}?status=CL" style="text-decoration: none;">
            <div class="home_card card border-left-success shadow h-100 py-3">
                <div class="card-body card-body-small">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 ">
                            <div class="h2 font-weight-bold text-success text-uppercase mb-1">
                                ΔΙΕΚΠΕΡΑΙΩΜΕΝΕΣ </div>
                            <div class="display-1 mb-0 font-weight-bold text-gray-800">{{closed_failures}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-envelope-open-text fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>

<h1>Αναφορές</h1>
<div class="row">

    {# Open Reports #}
    <div class="col-xl-4 col-lg-4 col-md-auto mb-3">
        <a href="{% url 'failures_all' %}?status=OP&status=NE" style="text-decoration: none;">
            <div class="home_card card border-left-orange shadow h-100 py-3">
                <div class="card-body card-body-small">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 ">
                            <div class="h2 font-weight-bold text-orange text-uppercase mb-1">
                                ΕΚΚΡΕΜΕΙΣ </div>
                            <div class="display-1 mb-0 font-weight-bold text-gray-800">{{open_reports}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-envelope-open-text fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>


    {# In Progress Reports #}
    <div class="col-xl-4 col-lg-4 col-md-auto mb-3">
        <a href="{% url 'failures_all' %}?status=PR" style="text-decoration: none;">
            <div class="home_card card border-left-primary shadow h-100 py-3">
                <div class="card-body card-body-small">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 ">
                            <div class="h2 font-weight-bold text-primary text-uppercase mb-1">
                                ΣΕ ΕΞΕΛΙΞΗ </div>
                            <div class="display-1 mb-0 font-weight-bold text-gray-800">{{progress_reports}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-envelope-open-text fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>


   {# Closed Reports #}
    <div class="col-xl-4 col-lg-4 col-md-auto mb-3">
        <a href="{% url 'failures_all' %}?status=CL" style="text-decoration: none;">
            <div class="home_card card border-left-success shadow h-100 py-3">
                <div class="card-body card-body-small">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 ">
                            <div class="h2 font-weight-bold text-success text-uppercase mb-1">
                                ΔΙΕΚΠΕΡΑΙΩΜΕΝΕΣ </div>
                            <div class="display-1 mb-0 font-weight-bold text-gray-800">{{closed_reports}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-envelope-open-text fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>


{% endblock %}

{% endblock %}