textarea {
  resize: none !important;
}

a {
  text-decoration: none !important;
}

.new-failure-table-row {
  border-left: 0.75rem solid #f6c23e !important;
  background-color: rgba(252, 199, 65, 0.5) !important;
}

.open-failure-table-row {
  border-left: 0.75rem solid var(--orange) !important;
}

.progress-failure-table-row {
  border-left: 0.75rem solid var(--greenblue) !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.home_card {
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.home_card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.bg-login-img {
  background: url("../assets/login_bg.jpg");
  background-position: center;
  background-size: auto;
}

.underconstruction-img {
  content: url('../assets/under_construction.png') ;
  position: relative;
  right: 250px; 
  scale: 60%
}

.border-left-orange {
  border-left: 0.25rem solid var(--orange) !important;
}

.border-bottom-orange {
  border-bottom: 0.25rem solid var("--orange") !important;
}

.text-orange {
  color: var(--orange) !important;
}

.bg-orange {
  background-color: var("--orange") !important;
}

.h-80{
  height: 80%;
}

.card-body-small {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-footer-comment{
  padding-top: 6px; 
  padding-bottom: 6px;
}

.field-label {
  color: #3a3b45;
  padding-right: 10px;
  font-weight: normal;
}
.field-helptext {
  font-size: 12px;
}
.field-error {
  font-size: 14px;
  color: red;
}

.field-required {
  font-weight: bold;
}
.field-required:after {
  content: " *";
}

td {
  white-space: normal !important; 
}

.table{
  color: #434446;
}

.upper-case {
  text-transform: uppercase;
}

.uppercase-input input, textarea {
  text-transform: uppercase;
}


@media print{@page {size: landscape}}